.heading
{
font-size: 27px;
width: 100%;
margin: 0px;
font-family: cursive;
}

#status
{
font-size: 18px;
}

body{
    background-size:cover ;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#puerta{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tele{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cama{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

